/* Base Application Styles */
html,body {
  width: 100%;
  height: 100%;
  background: #222;
}

#app{
  width: 100%;
  height: 100%;
}

/* 包裹区域 */
.wrap{
  position: relative;
  width: 100%;
  height: 700px;
}

/* 图片区域 */
.imgArea{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}
 /* 控制区域 */
.controllArea{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 99;

  width: 100%;
  text-align: center;
}